<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrz.crm.mapper.OperationMapper">
  <resultMap id="BaseResultMap" type="com.zrz.crm.model.Operation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="operation_code" jdbcType="VARCHAR" property="operationCode" />
    <result column="ljurlqz" jdbcType="VARCHAR" property="ljurlqz" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
</mapper>
